@model PeopleViewModel

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>@Model.PageTitle</title>
</head>

<body>
    <form class="d-inline-flex" asp-controller="People" asp-action="Search" method="post">
        <label for="SearchText">Sök (på namn eller stad): </label>
        <input type="text" name="SearchText">
        <button type="submit" class="btn btn-primary">Sök</button>
    </form>
    <hr />
    <table class="table-striped">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
            <th>&nbsp;</th>
        </tr>
        @foreach (var item in Model.PeopleList)
        {
            <partial name="~/Views/Shared/_PersonTableRowPartial.cshtml" model="new Person(item.Id,item.Name,item.PhoneNumber,item.City)" />
        }
    </table>
    <hr />
    <partial name="~/Views/Shared/_AddPerson.cshtml" model="new Person()" />
</body>
</html>
